<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="./lib/jquery-ui/jquery-ui-1.13.1.min.css">
<link rel="stylesheet" href="./lib/fontawesome/css/all.min.css">
<link rel="stylesheet" href="./css/style.css">

<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="./lib/jquery/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="./lib/fontawesome/js/fontawesome.min.js" type="text/javascript"></script>
<script src="./lib/jquery-ui/jquery-ui-1.13.1.min.js" type="text/javascript"></script>
<script src="./lib/phaser/phaser-3.55.2.min.js" type="text/javascript"></script>
<script src="./lib/konva/konva-8.3.2.min.js" type="text/javascript"></script>
<script src="./lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="./lib/jszip/jszip.min.js" type="text/javascript"></script>
<script src="./lib/xlsx/xlsx.min.js" type="text/javascript"></script>

<script src="./js/main.js"></script>
<title><%= title %></title>
